# Dependencies
node_modules/
**/node_modules/
venv/
**/venv/
__pycache__/
**/__pycache__/

# Frontend
frontend/build/
frontend/.env*

# Backend
backend/*.csv
backend/*.xlsx
backend/*.docx
backend/*.bat
backend/.env*

# Misc
.DS_Store
*.log
bundle.html
inline_build.py
build/
