
streamlit
pandas
numpy
sentence-transformers>=3.0.0
faiss-cpu
torch
deep-translator
transformers
onnxruntime
optimum[onnxruntime]
  
fastapi>=0.111.0  
uvicorn[standard]>=0.29.0  
python-multipart>=0.0.9 
python-dotenv
